:root {
  --neutral: #2d2d2d;
  --primary: #6dbf15;
  --primary-on: #070d01;
  --primary-container: #2f8006;
  --primary-on-container: #dee8cf;
}

.neutral {
  background-color: var(--neutral);
}

#editor { 
  flex: 1;
}

.body {
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

.button {
  min-width: 100px;
  border: none;
  height: 32px;
  border-radius: 15px;
  margin-left: 5px;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  background-color: var(--primary);
  color: var(--primary-on);
  box-shadow: 0px 2px 4px 0px rgba(22, 23, 20, 0.5);
}

button:disabled,
button[disabled]{
  pointer-events: none;
  opacity: 0.3;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
  box-shadow: none;
}

.shadow {
  box-shadow: 0px 2px 4px 0px rgba(22, 23, 20, 0.5);
}

.buttonPressed {
  background-color: var(--primary-container); 
}

.button:hover {
  background-color: var(--primary-container); 
}

.modalScreen {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: black;
  background-color: rgba(0,0,0,0.6);
}

.container {
  background-color: var(--neutral);
  color: var(--primary-on-container);
  text-align: left;
  padding:14px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(22, 23, 20, 0.5);
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}
