:root {
  --neutral: #2d2d2d;
  --container: #202020;
  --accent: #9829d9;
  --accent-alt: #0499cf;
  --highlight: #dee8cf;
}
* { margin: 0; padding: 0 }

#editor { 
  flex: 1;
}

.body {
  padding: 0px;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 38px;
  width: 100%;
  background-color: var(--accent-alt);
  color: var(--highlight);
  box-shadow: 0px 2px 6px 1px rgba(22, 23, 20, 0.5);
  padding-left: 14px;
  font: 24px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  pointer-events: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.button {
  min-width: 100px;
  border: none;
  height: 32px;
  border-radius: 15px;
  margin-left: 5px;
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  background-color: var(--accent);
  color: var(--container);
  box-shadow: 0px 2px 6px 2px rgba(22, 23, 20, 0.5);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  text-align: center;
}

button:disabled,
button[disabled]{
  pointer-events: none;
  opacity: 0.4;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
  box-shadow: none;
}

.buttonPressed {
  background-color: var(--accent-alt); 
  color: var(--highlight);
}

.button:hover {
  background-color: var(--accent-alt); 
  color: var(--highlight);
}

.buttonLink {
  min-width: 60px;
  background: none;
  border: none;
  height: 32px;
  margin-left: 5px;
  font: 16px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
  color: var(--accent);
}

.buttonLink:hover {
  color: var(--highlight); 
  color: var(--highlight);
}

.modalScreen {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: black;
  background-color: rgba(0,0,0,0.6);
}

.container {
  background-color: var(--neutral);
  color: var(--highlight);
  text-align: left;
  margin: 14px;
  padding:18px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 1px rgba(22, 23, 20, 0.5);
  font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}


.shadow {
  box-shadow: 0px 2px 6px 1px rgba(22, 23, 20, 0.5);
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex:1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex:1;
}

.neutral {
  background-color: var(--neutral);
}

.dark {
  background-color: var(--container);
}
